<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta name="apple-itunes-app" content="app-id=1451431723">
        <title>Gfrörli – Wassertemperatur Schweiz</title>
        <link href="https://api.tiles.mapbox.com/mapbox-gl-js/v0.42.1/mapbox-gl.css" rel="stylesheet" />
        <link href="https://fonts.googleapis.com/css?family=Barlow+Semi+Condensed|Montserrat:300,300i&amp;subset=latin-ext" rel="stylesheet">
        <link href="/static/reset.css" rel="stylesheet">
    </head>
    <body>
        <div id="main"></div>
        <script src="https://api.tiles.mapbox.com/mapbox-gl-js/v0.42.1/mapbox-gl.js"></script>
        <script src="app.js"></script>
    </body>
</html>
